/* Clear browser palette */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/*
    COLOR PALETTE:

    Main:       #F6F5F5
    Secondary:  #D3E0EA
    Tertiary:   #1687A7
    Quaternary: #276678

    FONT:
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif


    SLACK THEME COLOR PALETTE
    Light Background: #594358;
    Background: #3E313C;
    Menu: #40343F;
    Big Text: #BF5A75;
    Accent Color: #56A697;
    Text Color: #D8D2D2;

*/

$background: #3E313C;
$background-light: #594358;
$menu: #40343F;
$bigtext: #BF5A75;
$accent: #56A697;
$plaintext: #D8D2D2;

@font-face {
    font-family: 'Mulish';
    src: url(Mulish-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Mulish-Italic';
    src: url(Mulish-Italic-VariableFont_wght.ttf);
}

html {
    /*
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    */
    font-family: 'Mulish';
    height: auto;
    color: $plaintext;
}

#header {
    text-align: center;
    width: auto;
    height: auto;
    background-position: center;
    background-image: url(photos/Websiteheader.png);
    background-attachment: fixed;
}

#name {
    /* font-family: 'Franklin Gothic Medium', 'Arial Bold', serif; */
    font-size: 4em;
    color: $bigtext;
    text-shadow: .03em .03em 0 $background-light;
    padding-top: 1em;
    margin-bottom: 0;
    /*
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    */
}

#subheader {
    padding-bottom: 3em;

}


body {
    background-color: $background;
}

main {
    display: inline-flex;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#selectBar {
    background-color: $background-light;
}

a:link {
    text-decoration: none;
    color: $plaintext;
  }
  
  a:visited {
    text-decoration: none;
    color: $plaintext;
  }
  
  a:hover {
    text-decoration: none;
    color: $plaintext;
  }
  
  a:active {
    text-decoration: none;
    color: $plaintext;
  }

ul {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    float: none;
    display: flex;
    justify-content: center;
}

li {
    margin-left: 0;
    margin-right: 0;

    list-style: none;
    float: left;
    padding: 1.1em 1em 1em 1em;
    background-color: $background-light;
    color: #d8d2d2;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: .1em solid transparent;
    border-right: 1px solid $background;

    /*
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    */
    border-radius: 0;
}

    @keyframes colorShift {
        from{ color:$plaintext; }
        to{ color: #ececec; }
    }


    li:hover {
        background-color: #2e252d;
        color: $plaintext;
        border-bottom: .1em solid #ececec;
        border-right: 1 solid transparent;
        animation: colorShift 0.5s;
        color: #ececec;
        /*
        border-bottom: 5px solid #d8d2d2;
        border-radius: .4em;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        */
    }
    /*
    li:hover::before {
        content: "";
        position: absolute;

        background-color: transparent;
        bottom: -50px;
        height: 50px;
        width: 25px;
        border-top-left-radius: 25px;
        box-shadow: 0px -25px 0 0 #F66969;
    }
    */

    li:last-child {
        border-right: none;
    }

    .active {
        background-color: #BF5A75;
    }

/*
li a:hover {
    background-color: #276678;
}
*/

.articleContainer {
    display: inline;
    margin: 0 auto;
    padding: 1em;
    vertical-align: middle;
    align-content: center;
}

@keyframes articleFadeIn {
    from {color: transparent;}
    to {color: $plaintext;}
}

article {
    margin: .5em auto;
    float: left;
    padding: 2em;
    max-width: 80em;
    height: auto;
    
    background-color: $background-light;

    border: 1px solid $background-light;
    border-radius: 2em;

    animation-name: articleFadeIn;
    animation-duration: 2s;
}

.articleTitle {
    font-family: 'Mulish-Italic';
    font-size: 3rem;
    color: $bigtext;
    text-align: left;
    padding-left: .5em;
    padding-bottom: .2em;
    margin-bottom: .4em;
    border-bottom: 6px solid #5a7abf;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .1em;
}

.articleImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    max-height: 60%;
    height: auto;
    margin: 0 auto;
    border: 1em solid $background;
    border-radius: 4em;
}

#mediaLinks {
    color: $bigtext;
}